<div class="basebg fill no-overflow">
  <div class="container-fluid navbar-pad">
    <div class="pad-small"></div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center mode-title">CHOOSE GAME MODE</h1>
      </div>
    </div>
    <div class="pad-small"></div>
    <div class="row">

      <div ng-repeat="mode in select.modes">
        <div class="col-xs-12 col-md-4 text-center">
          <button class="btn-unstyled mode-btn" ng-click="select.selectGameMode(mode.mode_id)" ng-disabled="select.buttonDisabled">
            <div class="mode-box center-block">
              <img class="img-responsive mode-img" ng-src="{{mode.image}}">
              <label class="mode-label h2">{{mode.name}}</label>
              <p class="textxMedium">
                {{mode.description}}
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
