/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "_variables";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

footer {
  width: 100%;
  min-height:: 49px;
  max-height: 49px;
  background-color: $color-blue;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

.btn.btn-footer {
  border-radius: 0;
  min-height: 45px;
  background-color: $color-blue;
  color: $color-white;
  transition: all 0.3s ease;
}

.btn.btn-footer.active {
  background-color: $color-red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex.credits-menu {
  flex-flow: column;
}

.basebg {
  background-color: $color-yellowgray;
}

.no-overflow {
  overflow-x: hidden;
}

.nopad {
  padding: 0;
  margin: 0;
}

.pad-footer {
  padding-bottom: 50px;
}

.pad-xxsmall {
  height: 4px;
}

.pad-xsmall {
  height: 10px;
}

.pad-small {
  height: 20px;
}

.pad-medium {
  height: 35px;
}

.unstyled {
  border: none;
  outline: 0;
}

.mobile-box {
  background-color: $color-white;
  border: 4px solid $color-blue;
  border-radius: 4px;
  padding: 2px;
}

.table {
  display: table;
  margin-bottom: 0;
}

.game-map {
  border: 2px $color-brown solid;
}

.map-pad {
  padding-right: 60px;
}

#menu-left {
  border-right: 1px solid $color-blue;
}

#menu-left-container {
  margin: 5px 0 0 5px;
}

#menu-right {
  border-left: 1px solid $color-blue;
}

#menu-right-container {
  margin: 5px 0 0 -5px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
